<%= form_with(model: @battle, local: true) do |form| %>
<div class="field">
  <%= form.collection_select(:team_ids, @teams, :id, :name, prompt: '----') %>
  <%= form.label :closed %>
  <%= form.check_box :closed, {}, true, false %>
</div>
  <%= form.submit 'Submit'%>
<% end %>
