<h1>Battle #<%= @battle.id %></h1>
<small><%= @battle.teams.first.name %></small> | <small><%= @battle.teams&.second&.name %></small>
  <%= form_tag(set_winner_battles_path, method: "get", id: "search-form mx-auto") do %>
  <%= collection_select(:winner_id, :winner_id, @battle.teams, :id, :name) %>
  <%= hidden_field_tag 'battle_id', @battle.id %>
  <%= submit_tag "Select winner", class: 'btn btn-primary btn-sm' %>
<% end %>
