<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>
  <% if current_user %>
    <%= link_to user_path(current_user.id), class: "w3-bar-item w3-button" do %>
      <span><i class="fas fa-user"></i></span> <span><%= current_user.email %></span>
    <% end %>
    <%= link_to "Create Team", new_team_path, class: "w3-bar-item w3-button" %>
  <% else %>
    <%= link_to "sign in", new_user_session_path, class: "w3-bar-item w3-button" %>
  <% end %>
  <%= link_to "teams", teams_path, class: "w3-bar-item w3-button" %>
  <%= link_to "Create battle", new_battle_path, class: "w3-bar-item w3-button" %>
  <%= link_to "Battles", battles_path, class: "w3-bar-item w3-button" %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "w3-bar-item w3-button" %>
</div>

<div id="main">

<div class="w3-teal">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>DTM</h1>
  </div>
</div>

<script>
  function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
  }
  function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
  }
</script>
