<!DOCTYPE html>
<html>
  <head>
    <title>Dtm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/sidebar" %>
    <div class="grid-container">
      <div class="dop">
        <% Post.all.each do |post| %>
          <%= link_to post.title, post_path(post) %>
          <br>
        <% end %>
      </div>
      <div class="main">
        <%= yield %>
      </div>
      <div class="indent"></div>
    </div>
  </body>
</html>
